{{ define "main" }}
<article class="text-center mb-9">
    <h1 class="font-thin mb-16">{{ .Title }}</h1>
    {{$.Page.Description}}
</article>
<section>
    {{/* Recent Notes*/}}
    <article class="text-center mt-16">
        <h2>{{i18n "recentnotes"}}</h2>
        <div class="posts">
            {{ range first 3 (where (where $.Site.RegularPages ".Section" "notes" ) ".Draft" false)}}
            <div class="post">
                <a href="{{.Permalink}}">
                    {{default (.File.ContentBaseName | humanize | title) .Title}}
                    ({{ i18n "dateformat" | .Date.Format }})
                </a>
            </div>
            {{else}}
            {{i18n "nonotes"}}
            {{end}}
        </div>
    </article>
</section>
{{ end }}